.container-busca {
    width: 100%;
    position: relative;
}

.image {
    width: 100%;
    position: relative;
}

.form {
    display: flex;
    position: absolute;
    z-index: 10;
    justify-content: center;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
}

.form .fbusca {
    width: 30%;
    height: 50px;
    border: solid 1px #E8EDF2;
}

.form .fbusca:focus {
    width: 30%;
    height: 50px;
    border: solid 1px #d5d5d6;
}

.form .fsubmit {
    width: 80px;
    height: 50px;
    border: solid 1px #E8EDF2;
    background-color: #E8EDF2;
}

.form .fsubmit:hover {
    background-color: #fdde50;
    border: solid 1px #fdde50;
}

.form .fsubmit:active {
    background-color: #ffbb55;
    border: solid 1px #ffbb55;
}



.container-passos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
}

.container-passos .card {
    width: 350px;
    height: 350px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 0px 10px 0px 0px #667389;
    -moz-box-shadow: 0px 10px 0px 0px #667389;
    box-shadow: 0px 0px 10px 0px #667389;
    border-radius: 10px;
}

.container-passos .card img {
    width: 50%;
    align-self: center;
    height: 50%;
}

.container-passos .card .title {
    align-self: center;
    margin-top: 20px;
    color: #272727;
}

.container-passos .card .description {
    text-align: center;
    margin-top: 5px;
    color: #404040;
}














.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;
	background-image: url(../../../images/curve.svg);
	background-position: center bottom;
	background-size: contain;
	background-repeat: no-repeat;
}
.slider {
	display: block;
	height: 100%;
	width: 100%;
	max-width: 850px;
	margin: 0 auto;
	position: relative;
}
.slide {
	width: 100%;
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.slide-img {
	width: 100%;
    margin: 0 auto;
	height: 100%;
	padding: 40px;
	background-image: url(../../../images/bg.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.slide-img img {
    border-radius: 10px;
}


.slide-text {
	padding-top: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-image: url(../../../images/quotes.svg);
	background-repeat: no-repeat;
	background-size: 80px;
	background-position: top center;
}
.testimonial-text {
	font-weight: 300;
	font-size: 1.2rem;
	line-height: 1.5rem;
	color: #272727;
}
.author-text {
	margin-top: 20px;
	color: #272727;
	font-size: 1rem;
	font-weight: 700;
}
.author-text span {
	color: hsl(240, 18%, 77%);
	font-weight: 500;
	display: block;
}
.slide-img img {
	height: 100%;
	width: 300px;
}
.prev,
.next {
	display: inline-block;
	width: 50%;
	height: 100%;
	position: absolute;
	cursor: pointer;
}
.prev:hover,
.next:hover {
	background-color: antiquewhite;
}
.buttons {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 315px;
	width: 90px;
	height: 45px;
	box-shadow: -20px 12px 20px 0px hsla(240, 18%, 77%, 0.52);
	border-radius: 50px;
	background-color: white;
	overflow: hidden;
}
.prev {
	left: 0;
}
.next {
	right: 0;
}
.next::after,
.prev::after {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
}
.next::after {
	background-image: url(../../../images/next.svg);
}
.prev::after {
	background-image: url(../../../images/prev.svg);
}
@media only screen and (min-width: 768px) {
	.slide {
		flex-direction: row;
		text-align: left;
	}
	.slide-text {
		background-position: 10% top;
		background-size: 100px;
		align-items: flex-start;
	}
	.slide-img {
		margin-left: -100px;
		z-index: -1;
	}
	.slide-img img {
		width: 400px;
	}
	.buttons {
		top: 415px;
		transform: translate(0);
		left: calc(100% - 400px);
	}
}
@media only screen and (max-width: 400px) {
	.slide-img img {
		width: 200px;
	}
	.slide-img {
		padding: 10px;
	}
	.buttons {
		top: 180px;
	}
}